body {
  background-image: url("/src/img/back.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

a {
  color: rgb(21, 89, 10);
  text-decoration: none;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
  color: rgb(39, 39, 39);
}

header {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 2px;
}

form {
  display: flex;
}

.form-container {
  background-color: white;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  padding: 15px 20px;
}

.hint {
  line-height: 1.5;
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.6;
  font-weight: 500;
}

.instructions {
  padding: 16px;
  border: 1px solid rgb(169, 169, 169);
  width: 80%;
  font-size: 18px;
  border-radius: 50px;
  line-height: 20px;
  color: rgb(50, 50, 50);
}

.hidden {
  display: none;
}

.submit-button {
  margin-left: 10px;
  background: rgb(173, 119, 10);
  color: white;
  border: none;
  border-radius: 50px;
  width: 150px;
  padding: 14px 24px;
  font-size: 18px;
}

.recipe {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid rgb(173, 119, 10);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}

.recipe strong {
  color: rgb(173, 119, 10);
}

.recipe i {
  color: rgb(173, 119, 10);
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}
